html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000;
    border: 0.5px solid #1565c0;
}

::-webkit-scrollbar
{
	width: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
    border: 2px solid #1565c0;
}

::-webkit-scrollbar-thumb
{
	background-color: #1565c0;
	/* border: 0.5px solid #fff; */
}

* {
    overflow: hidden;
}

.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid;
    border-bottom-color: #1565c0;
    border-top-color: #211D70;
    border-right-color: #6200ea;
    border-left-color: #1a237e;
    background-color: rgba(200, 200, 200, 0.95);
    animation: loader 2s infinite;   
    animation-fill-mode: both; 
}

@keyframes loader {
    0% {
        transform: scale(0) rotate(0deg);
    }

    49% {
        transform: scale(1.1) rotate(350deg);
    }

    50% {
        transform: scale(1) rotate(360deg);
    }

    99% {
        transform: scale(0.1) rotate(20deg);
    }

    100% {
        transform: scale(0) rotate(0deg);
    }
}

.open-btn {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 40;
    width: 45px;
    height: 45px;
    color: #000;
    cursor: pointer;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
}

.title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    position: fixed;
    z-index: 20;
    top: 0px;
    width: 100vw;
    text-align: center;
    color: #eceff1;
    padding: 3px;
    margin: 0;
    animation: none;
}

.title sup {
    border: 1px solid whitesmoke;
    font-size: 15px;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 50%;
}

@keyframes showTitle {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

#bits-logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}

#info-btn img {
    position: absolute;
    top: 7px;
    z-index: 50;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    z-index: 60;
    background: rgba(0, 0, 0, 0.95);
    color: #eceff1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw) translateY(-100vh) scale(0);
    transition: 0.5s ease-in-out;
}

#heading {
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin: 10px 0;
}

#info-text {
    position: relative;
    margin: 20px 0 20px 0;
    padding: 5px;
    overflow-y: auto;
    width: 70%;
    height: 70%;
    line-height: 30px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-btn:nth-child(1) {
    height: 30px;
    width: 10px;
    background-color: #eceff1;
    transform: rotate(45deg);
}

.close-btn:nth-child(2) {
    height: 30px;
    width: 10px;
    background-color: #eceff1;
    transform: rotate(-45deg);
}

#sidenav-bg {
    background-image: url('../assets/starry-sky-background.jpg');
    filter: blur(5px);
    -webkit-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transform: translateX(-100vw); 
    z-index: 29;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sidenav-content {
    display: block;
    z-index: 30;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    transform: translateX(-100vw);
    transition: 0.2s ease-in-out;
}

#sidenav-content ul {
    position: relative;
    margin: 80px 0 0 20px;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

#sidenav-content li {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 90%;
    height: 10vh;
    color: whitesmoke;
    font-size: 20px;
    border-bottom: 0.6px solid whitesmoke;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.list-icons {
    position: absolute;
    left: 7vw;
    width: 30px;
    height: 30px;
}

#panda {
    display: block;
    position: absolute;
    height: 130px;
    z-index: 2;
    width: 130px;
    bottom: 16vh;
    animation: movePanda 5s;
    animation-direction: normal;
    animation-fill-mode: alternate;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes movePanda{
    0% {
        left: 2vw;
        transform: rotateY(0deg);
    }
    45% {
        left: 77vw;
        transform: rotateY(0deg);
    }
    50% {
        left: 82vw;
        transform: rotateY(180deg);
    }
    95% {
        left: 10vw;
        transform: rotateY(180deg);
    }
    100% {
        left: 2vw;
        transform: rotateY(0deg);
    }
}

.center-logo {
    position: absolute;
    top: 8vh;
    left: 1vw;
    width: 98vw;
    min-height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    left: -25px;
    padding: 0; /* Clears unordered list default of 40px */
}

.clear:after {
    content: "";  /* Clearfix hack*/
    display: block;
    clear: both;
}

#grid li {
    list-style-type: none; /*This will create a diamond shape.*/
    position: relative;  
    float: left;
    width: 27.85714285714286%;
    padding: 0 0 32.16760145166612% 0; /*For creating responsive fluid height element using padding property*/
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: ff0000;
    overflow: hidden;       /*To hide the extending hexagon*/
    visibility: hidden; /*To hide the diamond behind, this will also be inherited by all childs.*/
    cursor: pointer;
}

#grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eceff1;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3px;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #211D70;
    width: 100%;
    height: 100%;
    -o-transform:  skewY(-30deg) rotate(60deg);
    -moz-transform:  skewY(-30deg) rotate(60deg);
    -webkit-transform:  skewY(-30deg) rotate(60deg);
    -ms-transform:  skewY(-30deg) rotate(60deg);
    transform:  skewY(-30deg) rotate(60deg);
    overflow: hidden;  /*To hide the overflowing content of hexagons*/
    transition: 0.3s ease-in-out;
}

#grid li .hexagon:hover {
    background: #211D70;
}

#grid li * {
    visibility: visible;  /*To make all hexagons visible again since they inherited the property of their parent.*/
}

#grid li:nth-child(3n+2) {
    margin: 0 1%;
}

#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
    margin-top: -6.9285714285%;
    margin-bottom: -6.9285714285%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(6n+4) { 
    margin-left: 0.5%;
}

#hidden {
    background-image: #eceff1;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    height: 6vh;
    font-size: 25px;
    position: absolute;
    transform: translateX(-50%);
    background-color: #000;
    color: #1565c0;
    font-weight: 100;
    border: 1px solid #1565c0;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    border: 1px solid #1565c0;
    color: #1565c0;
    background-color: #212121;
}

#proceed-btn {
    bottom: 10vh;
    left: 50%;
}

#full-screen-btn {
    display: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 7vh;
    color: whitesmoke;
    font-size: 25px;
}


/* Terms and Condition page */

#tnc {
    color: #fff;
    padding: 0;
    margin: 15px 0 0 0;
    list-style-type: none;
    position: absolute;
    top: 10vh;
    left: 5vw;
    width: 90vw;
    height: 67vh;
    border: 0.5px solid #555;
    border-radius: 9px;
    overflow-y: auto;
}

#tnc li {
    color: #fff;
    font-size: 15px;
    margin: 20px 0 20px 1em;
    text-align: left;
    width: 100%;
    padding: 1px;
}

#tnc li::before {
    content: "•";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #fff; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */ 
    width: 1em; /* Also needed for space (tweak if needed) */
  }

#basic-info-btn {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    height: 7vh;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MEDIA QUERIES */

@media (min-width: 800px) {
    .open-btn {
        display: none;
    }
    .title {
        letter-spacing: 3px;
        top: 50px;
        background-color: #211D70;
        font-size: 50px;
        margin: auto;
        width: unset;
        animation: showTitle 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    #info-btn img {
        top: 5px;
        z-index: unset;
        width: 50px;
        height: 50px;
    }
    #info-text {
        padding: 10px;
        margin-top: 80px;
        margin-bottom: 100px;
        line-height: 30px;
    }
    .center-logo {
        position: absolute;
        top: 50%;
        z-index: 1;
        left: 60%;
        transform: translate(-50%, -50%);
        width: 70vw;
        height: unset;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #grid {
        position: relative;
        z-index: 1;
        width: 60%;
        height: unset;
        margin: 0 auto;
        font-size: 30px;
        left: 170px;
        padding: 0; /* Clears unordered list default of 40px */
    }
    #panda {
        top: unset;
        bottom: 100px;
        animation-duration: 15s;
    }
    @keyframes movePanda{
        0% {
            left: 2vw;
            transform: rotateY(0deg);
            z-index: 0;
        }
        45% {
            left: 80vw;
            transform: rotateY(0deg);
            z-index: 0;
        }
        50% {
            left: 90vw;
            transform: rotateY(180deg);
            z-index: 3;
        }
        95% {
            left: 5vw;
            transform: rotateY(180deg);
            z-index: 3;
        }
        100% {
            left: 2vw;
            transform: rotateY(0deg);
            z-index: 0;
        }
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: unset;
        height: 8vh;
        font-size: 25px;
        padding: 0 10px;
        position: absolute;
        cursor: pointer;
        z-index: 10;
    }
    #proceed-btn {
        bottom: 10vh;
        left: 10vw;
    }
    #full-screen-btn {
        bottom: 10vh;
        left: 30vw;
        display: block;
    }

    /* Terms and Conditions */

    #heading {
        font-size: 30px;
    }

    #tnc {
        width: 80vw;
        max-height: 70vh;
        border: none;
        left: 10vw;
    }

    #tnc li {
        font-size: 20px;
        margin: 20px auto;
        width: unset;
    }

    #basic-info-btn {
        bottom: 7vh;
    }
}






