{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static '/css/style.css' %}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,400,700|Open+Sans:300,400,700" rel="stylesheet">
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script> -->
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.4.2/lottie.min.js"></script>
    <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
    <title>Wiser</title>
</head>
<body>
    <div class="loading">
        <div class="loader"></div>
    </div>
    <div class="open-btn"></div>
    <div id="sidenav-bg"></div>
    <div id="sidenav-content">
        <h1 class="title">WISE<sup>R</sup></h1>
        <ul id="sidenav-list">
            <li onclick="openContact()"><img class="list-icons" src="{% static '/images/telephone.svg' %}" >Contact Us</li>
            <li onclick="GoFullScreen()"><img class="list-icons" src="{% static '/images/full-screen.svg' %}">Go Full Screen</li>
            <li onclick="openDevs()"><img class="list-icons" src="{% static '/images/coding.svg' %}">Developers</li>
            <li onclick="logout()"><img class="list-icons" src="{% static '/images/logout.svg' %}"><span>Logout</span></li>
        </ul>
    </div>
    <div class="container" style="background: #D1D7DC;">
        <div id="info-btn" onclick="showInfo()"><img src="{% static '/images/info-circle-solid.svg' %}"></div>
        <div id="info">
            <div onclick="closeInfo()" style="cursor:pointer;">
                <div class="close-btn"></div>
                <div class="close-btn"></div>
            </div>
            <h1 class="heading">About Us</h1>
            <p id="info-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, 
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                containing Lorem Ipsum passages, 
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, 
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                containing Lorem Ipsum passages, 
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, 
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                containing Lorem Ipsum passages, 
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, 
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
                containing Lorem Ipsum passages, 
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div id="termsAndConditions">
            <h1 class="heading">Terms and Conditions</h1>
            <ul id="tnc">
                <li>Your ID, name and basic profile information like name, email, contacts and profile photo, other linked emails etc. will be recorded.</li>
                <li>Your responses will be recorded.</li>
                <li>You have read our Terms of agreement and accepted them.</li>
                <li>Your ID, name and basic profile information like name, email, contacts and profile photo, other linked emails etc. will be recorded.</li>
                <li>Your responses will be recorded.</li>
                <li>You have read our Terms of agreement and accepted them.</li>
                <li>Your ID, name and basic profile information like name, email, contacts and profile photo, other linked emails etc. will be recorded.</li>
                <li>Your responses will be recorded.</li>
                <li>You have read our Terms of agreement and accepted them.</li>
                <li>Your ID, name and basic profile information like name, email, contacts and profile photo, other linked emails etc. will be recorded.</li>
                <li>Your responses will be recorded.</li>
            </ul>
            <button onclick="GetBasicInfo()" id="basic-info-btn">Next</button>
        </div>
    </div>
    <div class="ques-loading">
        <h1 class="ml8">
            <span class="letters-container">
                <span class="letters letters-left">Wise<sup>&reg;</sup></span>
                <span class="letters bang">!</span>
            </span>
            <span class="circle circle-white"></span>
            <span class="circle circle-dark"></span>
            <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
        </h1>
        <svg class="pulse" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <circle id="Oval" cx="512" cy="512" r="512"></circle>
            <circle id="Oval" cx="512" cy="512" r="512"></circle>
            <circle id="Oval" cx="512" cy="512" r="512"></circle>
        </svg>
    </div>
    <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
        <label class="menu-open-button" for="menu-open">
            <span class="hamburger hamburger-1"></span>
            <span class="hamburger hamburger-2"></span>
            <span class="hamburger hamburger-3"></span>
        </label>
        <a href="#" class="menu-item" onclick="openContact()"> <i class="fa fa-envelope"></i> </a>
        <a href="#" class="menu-item" onclick="openDevs()"> <i class="fa fa-users-cog"></i> </a>
        <a href="#" class="menu-item"> <i class="fa fa-sign-out-alt"></i> </a>
    </nav>
    <!-- Ofline Week Contents -->
    <div class="offline-content"></div>

    <!-- filters -->
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="shadowed-goo">
              
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
              <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
              <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
              <feOffset in="shadow" dx="1" dy="1" result="shadow" />
              <feComposite in2="shadow" in="goo" result="goo" />
              <feComposite in2="goo" in="SourceGraphic" result="mix" />
          </filter>
          <filter id="goo">
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
              <feComposite in2="goo" in="SourceGraphic" result="mix" />
          </filter>
        </defs>
    </svg>
    <img class="crown" src="{% static '/images/crown.svg' %}">
    <div id="contact-us">
        <div class="contact-img-div">
            <img src="{% static '/images/contact_img.jpg' %}" class="contact-img">
        </div>
        <div class="contact-div">
            <div class="contact-close-btn" onclick="closeContact()">&times;</div>
            <div class="details">
                <div class="infoWrap">
                    <div class="title-text">Meet us</div>
                    <ul>
                        <li class="phone"><span></span><a href="tel:+40728303133">+99-9999999999</a></li>
                        <li class="mail"><span></span><a href="mailto:contact@gmail.com">contact@gmail.com</a></li>
                        <li class="adr"><span></span><a href="https://goo.gl/maps/D2DT4xbtEhp" target="_blank">BITS Pilani, Pilani Campus</a></li>
                    </ul>
                </div>
            </div>
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3511.000946217572!2d75.58583171455324!3d28.358821003168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39131964f43e4575%3A0x1fbad30854cf884d!2z4KSs4KS_4KSw4KSy4KS-IOCkh-CkguCkuOCljeCkn-Ckv-Ckn-CljeCkr-ClguCknyDgpJHgpKvgpLwg4KSf4KWH4KSV4KWN4KSo4KWL4KSy4KWJ4KSc4KWAIOCklOCksCDgpLjgpL7gpIfgpILgpLg!5e0!3m2!1sen!2sin!4v1549551271937" width="400" height="300" frameborder="0" style="border:0" allowfullscreen id="map"></iframe>
            </div>
        </div>
    </div>
    <div id="devs">
        <div class="devs-close-btn" onclick="closeDevs()">&times;</div>
        <div class="devs-loading">
            <h1 class="ml8">
                <span class="letters-container">
                    <span class="letters letters-left">Wise<sup>&reg;</sup></span>
                    <span class="letters bang">!</span>
                </span>
                <span class="circle circle-white"></span>
                <span class="circle circle-dark"></span>
                <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
            </h1>
            <svg class="pulse" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <circle id="Oval" cx="512" cy="512" r="512"></circle>
                <circle id="Oval" cx="512" cy="512" r="512"></circle>
                <circle id="Oval" cx="512" cy="512" r="512"></circle>
            </svg>
        </div>
        <div class="dev-1 dev">
            <img src="{% static '/images/contact_img.jpg' %}">
            <div class="name">Nikhil Khandelwal</div>
            <div class="work">Backend Developer</div>
        </div>
        <div class="dev-2 dev">
            <img src="{% static '/images/contact_img.jpg' %}">
            <div class="name">Arpit Anshuman</div>
            <div class="work">Frontend Developer</div>
        </div>
        <div class="dev-3 dev">
            <img src="{% static '/images/contact_img.jpg' %}">
            <div class="name">Nikhil Vats</div>
            <div class="work">Frontend Developer</div>
        </div>
    </div>
    <div id="panda"><img src="{% static '/images/panda 1-01.svg' %}" id="panda_img"></div>
    <template id="pre-assessment-template">
        <div id="pre-assessment">
            <div id="top-margin"></div>
            <h1 class="heading" id="pre-assess-heading">Pre Assessment</h1>
            <div class="levels-container">
                <ul>
                    <li>
                        <a onclick="goToLevel(1)">
                        <h2>Category #1</h2>
                        <p>Text Content #1</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToLevel(2)">
                        <h2>Category #2</h2>
                        <p>Text Content #2</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToLevel(3)">
                        <h2>Category #3</h2>
                        <p>Text Content #3</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToLevel(4)">
                        <h2>Category #4</h2>
                        <p>Text Content #4</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </template>
    <template id="experiment-assessment-template">
        <div id="experiment-assessment">
            <div id="top-margin"></div>
            <h1 class="heading" id="experiment-assess-heading">Pre Assessment</h1>
            <div class="levels-container">
                <ul>
                    <li>
                        <a onclick="goToWeek(1, this)">
                        <h2>Week #1</h2>
                        <p>Text Content #1</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToWeek(2, this)">
                        <h2>Week #2</h2>
                        <p class="locked"><i class="fa fa-lock"></i></p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToWeek(3, this)">
                        <h2>Week #3</h2>
                        <p class="locked"><i class="fa fa-lock"></i></p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToWeek(4, this)">
                        <h2>Week #4</h2>
                        <p class="locked"><i class="fa fa-lock"></i></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </template>
    <template id="profile-template">
        <div id="profile">
            <h1 class="heading">Let's know you better!</h1>
            <div id="form-bg">
            </div>
            <form method="post" id="profile-form">
                <fieldset required>
                    <input type="text" name="username" id="username" placeholder="Username" required>
                </fieldset>
                <fieldset required>
                    <input type="number" name="age" id="age" placeholder="Age" required>
                </fieldset>
                <fieldset required>
                    <input type="number" name="phone" id="phone" placeholder="Phone" required>
                </fieldset>
                <fieldset required class="gender">
                    <label>Gender: </label>
                    <span><input type="radio" class="gender-values" name="gender" id="gender-1" value="M" required>Male</span>
                    <span><input type="radio" class="gender-values" name="gender" id="gender-2" value="F" required>Female</span>
                    <span><input type="radio" class="gender-values" name="gender" id="gender-3" value="O" required>Other</span>
                </fieldset>
                <fieldset required>
                    <select name="study" aria-placeholder="Year of study" id="year" required>
                        <option value="" disabled selected>-- Select year of study --</option>
                        <option value="8th">8th Class</option>
                        <option value="9th">9th Class</option>
                        <option value="10th">10th Class</option>
                        <option value="11th">11th Class</option>
                        <option value="12th">12th Class</option>
                        <option value="First Year">First Year</option>
                    </select>
                </fieldset>
            </form>
            <button form="profile-form" type="button" onclick="goToPreAssess()">Submit</button>
        </div>
    </template>
    <template id="experiment">
        <div class="back" onclick="goBack()"><img src="{% static '/images/back.svg' %}"></div>
        <div class="questions">
            <div class="progress">
                <div class="start"></div>
                <div class="progress-bar"></div>
                <div class="end"></div>
            </div>
            <h1 class="question" id="exp_ques">What do you like the most?</h1>
            <form method="post" id="exp-form">
                <div class="inputGroup">
                    <input id="1-option" name="selector" type="radio" required/>
                    <label for="1-option" id="f-label">Option 1</label>
                </div>
                <div class="inputGroup">
                    <input id="2-option" name="selector" type="radio" required/>
                    <label for="2-option" id="s-label">Option 2</label>
                </div>
                <div class="inputGroup">
                    <input id="3-option" name="selector" type="radio" required/>
                    <label for="3-option" id="t-label">Option 3</label>
                </div>
                <div class="inputGroup">
                    <input id="4-option" name="selector" type="radio" required/>
                    <label for="4-option" id="fo-label">Option 4</label>
                </div>
                <!-- <ul>
                    <li>
                    <input type="radio" id="1-option" name="selector" required>
                    <label for="1-option" id="f-label">Pizza</label>
                    
                    <div class="check"></div>
                    </li>
                    
                    <li>
                    <input type="radio" id="2-option" name="selector" required>
                    <label for="2-option" id="s-label">Bacon</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>
                    
                    <li>
                    <input type="radio" id="3-option" name="selector" required>
                    <label for="3-option" id="t-label">Dogs</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>

                    <li>
                    <input type="radio" id="4-option" name="selector" required>
                    <label for="4-option" id="fo-label">Dog</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>
                </ul> -->
            </form>
            <button type="button" form="exp-form" onclick="submitAns()">Submit</button>
        </div>
    </template>
    <template id="exp">
        <div class="back" onclick="goBack()"><img src="{% static '/images/back.svg' %}"></div>
        <div class="questions">
            <div class="progress">
                <div class="start"></div>
                <div class="progress-bar"></div>
                <div class="end"></div>
            </div>
            <h1 class="question" id="exp_ques">What do you like the most?</h1>
            <form method="post" id="exp-form">
                <div class="inputGroup">
                    <input id="1-option" name="selector" type="radio" required/>
                    <label for="1-option" id="f-label">Option 1</label>
                </div>
                <div class="inputGroup">
                    <input id="2-option" name="selector" type="radio" required/>
                    <label for="2-option" id="s-label">Option 2</label>
                </div>
                <div class="inputGroup">
                    <input id="3-option" name="selector" type="radio" required/>
                    <label for="3-option" id="t-label">Option 3</label>
                </div>
                <div class="inputGroup">
                    <input id="4-option" name="selector" type="radio" required/>
                    <label for="4-option" id="fo-label">Option 4</label>
                </div>
                <!-- <ul>
                    <li>
                    <input type="radio" id="1-option" name="selector" required>
                    <label for="1-option" id="f-label">Pizza</label>
                    
                    <div class="check"></div>
                    </li>
                    
                    <li>
                    <input type="radio" id="2-option" name="selector" required>
                    <label for="2-option" id="s-label">Bacon</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>
                    
                    <li>
                    <input type="radio" id="3-option" name="selector" required>
                    <label for="3-option" id="t-label">Dogs</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>

                    <li>
                    <input type="radio" id="4-option" name="selector" required>
                    <label for="4-option" id="fo-label">Dog</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>
                </ul> -->
            </form>
            <button type="button" form="exp-form" onclick="submitExpAns()">Submit</button>
        </div>
    </template>
    <template id="placebo">
        <div class="questions">
            <div class="progress">
                <div class="start"></div>
                <div class="progress-bar"></div>
                <div class="end"></div>
            </div>
            <h1 class="question">What do you like the most?</h1>
            <textarea name="food" placeholder="Start typing...." autofocus id="placebo-ans"></textarea>
            <button type="button" onclick="submitPlaceboAns()">Submit</button>
        </div>
    </template>
    <template id="control">
        <!-- <div class="back" onclick="goBack()"><img src="{% static '/images/back.svg' %}"></div> -->
        <div class="center"><span>We will get back to you soon!</span><img src="{% static '/images/emoji.png' %}"></div>
    </template>
    <template id="validation-template">
        <div class="modal">
            <h2 id="error-message">Please fill all fields!</h2>
        </div>
    </template>
    <template id="post-assessment-template">
        <div id="post-assessment">
            <div id="top-margin"></div>
            <h1 class="heading" id="post-assess-heading">Post Assessment</h1>
            <div class="levels-container">
                <ul>
                    <li>
                        <a onclick="goToPostLevel(1)">
                        <h2>Category #1</h2>
                        <p>Text Content #1</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToPostLevel(2)">
                        <h2>Category #2</h2>
                        <p>Text Content #2</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToPostLevel(3)">
                        <h2>Category #3</h2>
                        <p>Text Content #3</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToPostLevel(4)">
                        <h2>Category #4</h2>
                        <p>Text Content #4</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </template>
    <!-- Offline Week Contents -->
    <template id="offline-content-1">
        <a class="button" href="#popup">Open Offline Tasks</a>
        <div class="popup" id="popup">
            <div class="popup-inner">
                <div class="popup__photo"><a title="Parutakupiu, Tomtheman5, JBarta [Public domain], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Olympic_pictogram_Athletics_-_colored.svg"><img alt="Olympic pictogram Athletics - colored" src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Olympic_pictogram_Athletics_-_colored.svg"></a></div>
                <div class="popup__text">
                    <h1>Week 1 Tasks</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex velit, viverra non vulputate vitae, blandit vitae nisl. Nullam fermentum orci et erat viverra bibendum. Aliquam sed varius nibh, vitae mattis purus. Mauris elementum sapien non
                    ullamcorper vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eget felis sit amet eros viverra pulvinar.</p>
                </div>
                <a class="popup__close" href="#" onclick="location.reload();">X</a>
            </div>
        </div>
    </template>
    <template id="offline-content-2">
        <a class="button" href="#popup">Open Offline Tasks</a>
        <div class="popup" id="popup">
            <div class="popup-inner">
                <div class="popup__photo"><a title="Parutakupiu, Tomtheman5, JBarta [Public domain], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Olympic_pictogram_Athletics_-_colored.svg"><img alt="Olympic pictogram Athletics - colored" src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Olympic_pictogram_Athletics_-_colored.svg"></a></div>
                <div class="popup__text">
                    <h1>Week 2 Tasks</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex velit, viverra non vulputate vitae, blandit vitae nisl. Nullam fermentum orci et erat viverra bibendum. Aliquam sed varius nibh, vitae mattis purus. Mauris elementum sapien non
                    ullamcorper vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eget felis sit amet eros viverra pulvinar.</p>
                </div>
                <a class="popup__close" href="#" onclick="location.reload();">X</a>
            </div>
        </div>
    </template>
    <template id="offline-content-3">
        <a class="button" href="#popup">Open Offline Tasks</a>
        <div class="popup" id="popup">
            <div class="popup-inner">
                <div class="popup__photo"><a title="Parutakupiu, Tomtheman5, JBarta [Public domain], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Olympic_pictogram_Athletics_-_colored.svg"><img alt="Olympic pictogram Athletics - colored" src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Olympic_pictogram_Athletics_-_colored.svg"></a></div>
                <div class="popup__text">
                    <h1>Week 3 Tasks</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex velit, viverra non vulputate vitae, blandit vitae nisl. Nullam fermentum orci et erat viverra bibendum. Aliquam sed varius nibh, vitae mattis purus. Mauris elementum sapien non
                    ullamcorper vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eget felis sit amet eros viverra pulvinar.</p>
                </div>
                <a class="popup__close" href="#" onclick="location.reload();">X</a>
            </div>
        </div>
    </template>
    <template id="offline-content-4">
        <a class="button" href="#popup">Open Offline Tasks</a>
        <div class="popup" id="popup">
            <div class="popup-inner">
                <div class="popup__photo"><a title="Parutakupiu, Tomtheman5, JBarta [Public domain], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Olympic_pictogram_Athletics_-_colored.svg"><img alt="Olympic pictogram Athletics - colored" src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Olympic_pictogram_Athletics_-_colored.svg"></a></div>
                <div class="popup__text">
                    <h1>Week 4 Tasks</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex velit, viverra non vulputate vitae, blandit vitae nisl. Nullam fermentum orci et erat viverra bibendum. Aliquam sed varius nibh, vitae mattis purus. Mauris elementum sapien non
                    ullamcorper vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eget felis sit amet eros viverra pulvinar.</p>
                </div>
                <a class="popup__close" href="#" onclick="location.reload();">X</a>
            </div>
        </div>
    </template>
    <script src="{% static '/js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/logged.js' %}" type="text/javascript"></script>
</body>
</html>