{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static '/css/style.css' %}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,400,700|Open+Sans:300,400,700" rel="stylesheet">
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script> -->
    <!-- <script src="https://apis.google.com/js/api:client.js"></script> -->
    <script src="{% static '/js/lottie.min.js' %}"></script>
    <link  href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
    <script src="{% static '/js/anime.min.js' %}"></script>
    <script src="{% static '/js/fontawesome.min.js' %}"></script>
    <title>WiseR</title>
</head>
<body>
    <div class="loading">
        <div class="loader"></div>
    </div>
    <div class="open-btn"></div>
    <div id="sidenav-bg"></div>
    <div id="sidenav-content">
        <h1 class="title">WISE<sup>R</sup></h1>
        <ul id="sidenav-list">
            <li onclick="openContact()"><img class="list-icons" src="{% static '/images/telephone.svg' %}" >Contact Us</li>
            <li onclick="GoFullScreen()"><img class="list-icons" src="{% static '/images/full-screen.svg' %}">Go Full Screen</li>
            <li onclick="openDevs()"><img class="list-icons" src="{% static '/images/coding.svg' %}">Developers</li>
            <li onclick="logout()"><img class="list-icons" src="{% static '/images/logout.svg' %}"><span>Logout</span></li>
        </ul>
    </div>
    <div class="container" style="background: #D1D7DC;">
        <div id="info-btn" onclick="showInfo()"><img src="{% static '/images/info-circle-solid.svg' %}"></div>
        <div id="info">
            <div onclick="closeInfo()" style="cursor:pointer;">
                <div class="close-btn"></div>
                <div class="close-btn"></div>
            </div>
            <h1 class="heading">About Us</h1>
            <p id="info-text">This is a research funded by Indian Council of Medical Research (New Delhi). The team comprises of a renowned figure in the field of positive psychology, currently serving as an Assistant professor of psychology in Birla Institute of Technology and Science, a clinical psychologist, interested in the area of psychotherapy, currently serving as a senior research fellow in  Birla Institute of Technology and Science, and two immensely talented and budding computer professionals devoted their effort in the technical part of the website. With all the diversities and expertise in their respective field, this team is dedicated to answer the pertaining question of this study which revolves around the enhancement of wellbeing among youths. With careful selection of four domains (self management, stress management, emotional intelligence and time management) this would be a novel effort to combine the individual factors of wellbeing under one roof.<br><br>

            Lastly we thank you immensely for your participation in this study. We need your support and cooperation to make this research happen.<br><br>

            Regards<br>
            Research Team-WiseR</p>
        </div>
        <div id="info-1">
            <div onclick="closeModInfo(1)" style="cursor:pointer;">
                <div class="close-btn"></div>
                <div class="close-btn"></div>
            </div>
            <h1 class="heading">Self Management</h1>
            <p id="info-text">Self-management represents a collection of skills that individuals can engage in order to become more self-reliant. in order to manage self, one has to have a clear understanding of self-selecting targets known as goals and also the required skills to achieve a particular target(s). overall self-management is a key to performance, health, productivity and satisfaction with your life and career.</p>
        </div>
        <div id="info-2">
            <div onclick="closeModInfo(2)" style="cursor:pointer;">
                <div class="close-btn"></div>
                <div class="close-btn"></div>
            </div>
            <h1 class="heading">Emotional Intelligence</h1>
            <p id="info-text">Emotional intelligence is the ability to understand and recognize your emotions also understanding of how your emotions affect people around you. The major portion of your success is contributed by emotional intelligence..</p>
        </div>
        <div id="info-3">
            <div onclick="closeModInfo(3)" style="cursor:pointer;">
                <div class="close-btn"></div>
                <div class="close-btn"></div>
            </div>
            <h1 class="heading">Time Management</h1>
            <p id="info-text">Time management means giving insight into time consuming activities, changing time expenditure and increasing efficiency by teaching people how to make a daily planning, how to prioritize task and handle unexpected tasks. this exercise is supposed to be helpful to the students in enhancing their skills for time management.</p>
        </div>
        <div id="info-4">
            <div onclick="closeModInfo(4)" style="cursor:pointer;">
                <div class="close-btn"></div>
                <div class="close-btn"></div>
            </div>
            <h1 class="heading">Stress Management</h1>
            <p id="info-text">The present era is characterized by competition which demands increased awareness about stress and stressors, the inability of which may lead to a cascade of negative consequences. These exercises will bring awareness so that you can be able to cope up with your stressor in an effective manner.</p>
        </div>
        <div id="termsAndConditions">
            <h1 class="heading">Terms and Conditions</h1>
            <ul id="tnc">
                <p>This is an intervention study aims to enhance student wellbeing through some structures techniques. this study is funded by the Indian Council of Medical Research. The researchers are a team of psychologists, authorized to impart mental health services and software professionals. We meant to address the wellbeing and this will be only effective if you follow it all through for the stipulated time. There are no harmful consequences associated with the techniques, used on the website so far. However, if a client is suffering from some psychological disorder we will strongly recommend to consult some mental health professionals. By ticking the below box I am agreeing to give consent for the following.<br>
                By clicking next below I am agreeing to give consent for the following.
                </p>
                <li>Complete a pre and post-test interview schedule at the starting and preceding the termination of the above program.</li>
                <li>Complete an internet-based wellbeing program by logging in at the requisite time intervals.</li>
                <li>Participation in this program is voluntary and I can choose not to participate in part or all of the program or else can withdraw at any stage of the program without being penalized or disadvantaged in any manner. If one has been randomly assigned to the control condition, he may not get the benefits of the intervention as per the hypothesis.</li>
                <li>The information provided on my behalf will remain confidential and mo information in part or whole whatsoever be provided to any person/institution/organization without my permission.</li>
                <li>I understand that data from the web pages will be kept in secured storage and will be accessible only to the researcher team. Further, if any publications are out from the data my identity will be made anonymous (if at all documented) and remains disclosed.</li>
                <li>You have read our Terms of agreement and accepted them.</li>
                <li>I understand that if I complete the information and click on the continue button below that I give way my consent to participate in the above program without any objections.</li>
                <li>I can understand that there is no risk associated with this intervention program and if I am already suffering from any sort of psychological problems, the researchers are not to be responsible for my condition in any way.</li>
            </ul>
            <button onclick="GetBasicInfo()" id="basic-info-btn">Next</button>
        </div>
    </div>
    <div class="ques-loading">
        <h1 class="ml8">
            <span class="letters-container">
                <span class="letters letters-left">Wise<sup>&reg;</sup></span>
                <span class="letters bang">!</span>
            </span>
            <span class="circle circle-white"></span>
            <span class="circle circle-dark"></span>
            <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
        </h1>
        <svg class="pulse" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <circle id="Oval" cx="512" cy="512" r="512"></circle>
            <circle id="Oval" cx="512" cy="512" r="512"></circle>
            <circle id="Oval" cx="512" cy="512" r="512"></circle>
        </svg>
    </div>
    <nav class="menu">
        <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
        <label class="menu-open-button" for="menu-open">
            <span class="hamburger hamburger-1"></span>
            <span class="hamburger hamburger-2"></span>
            <span class="hamburger hamburger-3"></span>
        </label>
        <a href="#" class="menu-item" onclick="openContact()"> <i class="fa fa-envelope"></i> </a>
        <a href="#" class="menu-item" onclick="openDevs()"> <i class="fa fa-users-cog"></i> </a>
        <a href="#" class="menu-item" onclick="logout()"> <i class="fa fa-sign-out-alt"></i> </a>
    </nav>
    <!-- Ofline Week Contents -->
    <div class="offline-content"></div>

    <!-- filters -->
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="shadowed-goo">
              
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
              <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
              <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
              <feOffset in="shadow" dx="1" dy="1" result="shadow" />
              <feComposite in2="shadow" in="goo" result="goo" />
              <feComposite in2="goo" in="SourceGraphic" result="mix" />
          </filter>
          <filter id="goo">
              <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
              <feComposite in2="goo" in="SourceGraphic" result="mix" />
          </filter>
        </defs>
    </svg>
    <img class="crown" src="{% static '/images/crown.svg' %}">
    <div id="contact-us">
        <div class="contact-img-div">
            <img src="{% static '/images/contact_img.jpg' %}" class="contact-img">
        </div>
        <div class="contact-div">
            <div class="contact-close-btn" onclick="closeContact()">&times;</div>
            <div class="details">
                <div class="infoWrap">
                    <div class="title-text">Research Team</div>
                    <ul>
                        <li class="phone"><a href="#">Dr. Rajneesh Choubisa (Assistant Professor of Psychology)</a></li>
                        <li class="mail"><a href="mailto:rajneesh.choubisa@pilani.bits-pilani.ac.in">rajneesh.choubisa@pilani.bits-pilani.ac.in</a> / <a href="mailto:rajneesh.choubisa@gmail.com">rajneesh.choubisa@gmail.com</a></li>
                        <li class="adr"><a href="#" target="_blank">Room no: 6168-P,<br>
                        New Academic Building,<br>
                        Department of Humanities and Social Sciences<br>
                        Birla Institute of Technology and Science, Pilani<br>
                        Pilani-333031 (Rajasthan)
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="details details-2">
                <div class="infoWrap">
                    <div class="title-text">Research Team</div>
                    <ul><li class="phone"><a href="#">Ms. Ishita Chatterjee</a></li>
                        <li class="adr"><a href="#" target="_blank">Birla Institute of Technology and Science, Pilani<br>
                        Pilani-333031, Rajasthan, India
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="details details-3">
                <div class="infoWrap">
                    <div class="title-text">Research Team</div>
                    <ul><li class="phone"><a href="#">Mr. Akarshit Jain<br>
                        3rd year, B.E.(Hons) Electronics &amp; Instrumentation</a></li>
                        <li class="mail"><a href="mailto:f2016448@pilani.bits-pilani.ac.in">f2016448@pilani.bits-pilani.ac.in</a></li>
                        <li class="adr"><a href="#" target="_blank">Birla Institute of Technology and Science, Pilani<br>
                        Pilani-333031, Rajasthan, India
                        </a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3511.000946217572!2d75.58583171455324!3d28.358821003168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39131964f43e4575%3A0x1fbad30854cf884d!2z4KSs4KS_4KSw4KSy4KS-IOCkh-CkguCkuOCljeCkn-Ckv-Ckn-CljeCkr-ClguCknyDgpJHgpKvgpLwg4KSf4KWH4KSV4KWN4KSo4KWL4KSy4KWJ4KSc4KWAIOCklOCksCDgpLjgpL7gpIfgpILgpLg!5e0!3m2!1sen!2sin!4v1549551271937" width="400" height="300" frameborder="0" style="border:0" allowfullscreen id="map"></iframe>
            </div> -->
        </div>
    </div>
    <div id="devs">
        <div class="devs-close-btn" onclick="closeDevs()">&times;</div>
        <div class="devs-loading">
            <h1 class="ml8">
                <span class="letters-container">
                    <span class="letters letters-left">Wise<sup>&reg;</sup></span>
                    <span class="letters bang">!</span>
                </span>
                <span class="circle circle-white"></span>
                <span class="circle circle-dark"></span>
                <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
            </h1>
            <svg class="pulse" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <circle id="Oval" cx="512" cy="512" r="512"></circle>
                <circle id="Oval" cx="512" cy="512" r="512"></circle>
                <circle id="Oval" cx="512" cy="512" r="512"></circle>
            </svg>
        </div>
        <div class="dev-1 dev">
            <img src="{% static '/images/contact_img.jpg' %}">
            <div class="name">Nikhil Khandelwal</div>
            <div class="work">Backend Developer</div>
        </div>
        <div class="dev-2 dev">
            <img src="{% static '/images/contact_img.jpg' %}">
            <div class="name">Arpit Anshuman</div>
            <div class="work">Frontend Developer</div>
        </div>
        <div class="dev-3 dev">
            <img src="{% static '/images/contact_img.jpg' %}">
            <div class="name">Nikhil Vats</div>
            <div class="work">Frontend Developer</div>
        </div>
    </div>
    <div id="panda"><img src="{% static '/images/panda 1-01.svg' %}" id="panda_img"></div>
    <template id="pre-assessment-template">
        <div id="pre-assessment">
            <div id="top-margin"></div>
            <h1 class="heading" id="pre-assess-heading">Pre Assessment</h1>
            <div class="levels-container">
                <ul>
                    <li>
                        <a onclick="goToLevel(1, this)">
                        <h2>Self Management</h2>
                        <p>Text Content #1</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToLevel(2, this)">
                        <h2>Emotional Intelligence</h2>
                        <p>Text Content #2</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToLevel(3, this)">
                        <h2>Time Management</h2>
                        <p>Text Content #3</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToLevel(4, this)">
                        <h2>Stress Management</h2>
                        <p>Text Content #4</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </template>
    <template id="experiment-assessment-template">
        <div id="experiment-assessment">
            <div id="top-margin"></div>
            <h1 class="heading" id="experiment-assess-heading">Pre Assessment</h1>
            <div class="levels-container">
                <ul>
                    <li>
                        <a onclick="goToWeek(1, this)">
                        <h2>Week #1</h2>
                        <p>Text Content #1</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToWeek(2, this)">
                        <h2>Week #2</h2>
                        <p class="locked"><i class="fa fa-lock"></i></p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToWeek(3, this)">
                        <h2>Week #3</h2>
                        <p class="locked"><i class="fa fa-lock"></i></p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToWeek(4, this)">
                        <h2>Week #4</h2>
                        <p class="locked"><i class="fa fa-lock"></i></p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </template>
    <template id="profile-template">
        <div id="profile">
            <h1 class="heading">Let's know you better!</h1>
            <div id="form-bg">
            </div>
            <form method="post" id="profile-form">
                <fieldset required>
                    <input type="text" name="username" id="username" placeholder="Username" required>
                </fieldset>
                <fieldset required>
                    <input type="number" name="age" id="age" placeholder="Age" required>
                </fieldset>
                <fieldset required>
                    <input type="number" name="phone" id="phone" placeholder="Phone" required>
                </fieldset>
                <fieldset required class="gender">
                    <label>Gender: </label>
                    <span><input type="radio" class="gender-values" name="gender" id="gender-1" value="M" required>Male</span>
                    <span><input type="radio" class="gender-values" name="gender" id="gender-2" value="F" required>Female</span>
                    <span><input type="radio" class="gender-values" name="gender" id="gender-3" value="O" required>Other</span>
                </fieldset>
                <fieldset required>
                    <select name="study" aria-placeholder="Year of study" id="year" required>
                        <option value="" disabled selected>-- Select year of study --</option>
                        <option value="8th">8th Class</option>
                        <option value="9th">9th Class</option>
                        <option value="10th">10th Class</option>
                        <option value="11th">11th Class</option>
                        <option value="12th">12th Class</option>
                        <option value="First Year">First Year</option>
                    </select>
                </fieldset>
                <fieldset required>
                    <select onchange="print_city('city', this.selectedIndex);" id="states" name ="state" class="form-control" required></select>
                </fieldset>
                <fieldset>
                    <select id="city" class="form-control"></select>
                </fieldset>
            </form>
            <button form="profile-form" type="button" onclick="goToPreAssess()">Submit</button>
        </div>
    </template>
    <template id="experiment">
        <div class="back" onclick="goBack()"><img src="{% static '/images/back.svg' %}"></div>
        <div class="questions">
            <div class="progress">
                <div class="start"></div>
                <div class="progress-bar"></div>
                <div class="end"></div>
            </div>
            <h1 class="question" id="exp_ques">What do you like the most?</h1>
            <form method="post" id="exp-form">
                <div class="inputGroup">
                    <input id="1-option" name="selector" type="radio" required/>
                    <label for="1-option" id="f-label">Option 1</label>
                </div>
                <div class="inputGroup">
                    <input id="2-option" name="selector" type="radio" required/>
                    <label for="2-option" id="s-label">Option 2</label>
                </div>
                <div class="inputGroup">
                    <input id="3-option" name="selector" type="radio" required/>
                    <label for="3-option" id="t-label">Option 3</label>
                </div>
                <div class="inputGroup">
                    <input id="4-option" name="selector" type="radio" required/>
                    <label for="4-option" id="fo-label">Option 4</label>
                </div>
                <div class="inputGroup">
                    <input id="5-option" name="selector" type="radio" required/>
                    <label for="5-option" id="fi-label">Option 5</label>
                </div>
                <div class="inputGroup">
                    <input id="6-option" name="selector" type="radio" required/>
                    <label for="6-option" id="si-label">Option 6</label>
                </div>
                <div class="inputGroup">
                    <input id="7-option" name="selector" type="radio" required/>
                    <label for="7-option" id="se-label">Option 7</label>
                </div>
                <!-- <ul>
                    <li>
                    <input type="radio" id="1-option" name="selector" required>
                    <label for="1-option" id="f-label">Pizza</label>
                    
                    <div class="check"></div>
                    </li>
                    
                    <li>
                    <input type="radio" id="2-option" name="selector" required>
                    <label for="2-option" id="s-label">Bacon</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>
                    
                    <li>
                    <input type="radio" id="3-option" name="selector" required>
                    <label for="3-option" id="t-label">Dogs</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>

                    <li>
                    <input type="radio" id="4-option" name="selector" required>
                    <label for="4-option" id="fo-label">Dog</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>
                </ul> -->
            </form>
            <button type="button" form="exp-form" onclick="submitAns()">Submit</button>
        </div>
    </template>
    <template id="exp">
        <div class="back" onclick="goBack()"><img src="{% static '/images/back.svg' %}"></div>
        <div class="questions">
            <div class="progress">
                <div class="start"></div>
                <div class="progress-bar"></div>
                <div class="end"></div>
            </div>
            <h1 class="question" id="exp_ques">What do you like the most?</h1>
            <form method="post" id="exp-form">
                <div class="inputGroup">
                    <input id="1-option" name="selector" type="radio" required/>
                    <label for="1-option" id="f-label">Option 1</label>
                </div>
                <div class="inputGroup">
                    <input id="2-option" name="selector" type="radio" required/>
                    <label for="2-option" id="s-label">Option 2</label>
                </div>
                <div class="inputGroup">
                    <input id="3-option" name="selector" type="radio" required/>
                    <label for="3-option" id="t-label">Option 3</label>
                </div>
                <div class="inputGroup">
                    <input id="4-option" name="selector" type="radio" required/>
                    <label for="4-option" id="fo-label">Option 4</label>
                </div>
                <div class="inputGroup">
                    <input id="5-option" name="selector" type="radio" required/>
                    <label for="5-option" id="fi-label">Option 5</label>
                </div>
                <div class="inputGroup">
                    <input id="6-option" name="selector" type="radio" required/>
                    <label for="6-option" id="si-label">Option 6</label>
                </div>
                <div class="inputGroup">
                    <input id="7-option" name="selector" type="radio" required/>
                    <label for="7-option" id="se-label">Option 7</label>
                </div>
                <!-- <ul>
                    <li>
                    <input type="radio" id="1-option" name="selector" required>
                    <label for="1-option" id="f-label">Pizza</label>
                    
                    <div class="check"></div>
                    </li>
                    
                    <li>
                    <input type="radio" id="2-option" name="selector" required>
                    <label for="2-option" id="s-label">Bacon</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>
                    
                    <li>
                    <input type="radio" id="3-option" name="selector" required>
                    <label for="3-option" id="t-label">Dogs</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>

                    <li>
                    <input type="radio" id="4-option" name="selector" required>
                    <label for="4-option" id="fo-label">Dog</label>
                    
                    <div class="check"><div class="inside"></div></div>
                    </li>
                </ul> -->
            </form>
            <button type="button" form="exp-form" onclick="submitExpAns()">Submit</button>
        </div>
    </template>
    <template id="placebo">
        <div class="questions">
            <div class="progress">
                <div class="start"></div>
                <div class="progress-bar"></div>
                <div class="end"></div>
            </div>
            <h1 class="question">What do you like the most?</h1>
            <input type="text" name="hint" class="hint-text" disabled="disabled" value="Hint Text Here...">
            <textarea name="food" placeholder="Start typing...." autofocus id="placebo-ans"></textarea>
            <button type="button" onclick="submitPlaceboAns()">Submit</button>
        </div>
    </template>
    <template id="control">
        <!-- <div class="back" onclick="goBack()"><img src="{% static '/images/back.svg' %}"></div> -->
        <div class="center"><span>Thank you for filling, an email will be sent for further questions, Please check back later!</span><img src="{% static '/images/emoji.png' %}"></div>
    </template>
    <template id="validation-template">
        <div class="modal">
            <h2 id="error-message">Please fill all fields!</h2>
        </div>
    </template>
    <template id="post-assessment-template">
        <div id="post-assessment">
            <div id="top-margin"></div>
            <h1 class="heading" id="post-assess-heading">Post Assessment</h1>
            <div class="levels-container">
                <ul>
                    <li>
                        <a onclick="goToPostLevel(1, this)">
                        <h2>Self Management</h2>
                        <p>Text Content #1</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToPostLevel(2, this)">
                        <h2>Emotional Intelligence</h2>
                        <p>Text Content #2</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToPostLevel(3, this)">
                        <h2>Time Management</h2>
                        <p>Text Content #3</p>
                        </a>
                    </li>
                    <li>
                        <a onclick="goToPostLevel(4, this)">
                        <h2>Stress Management</h2>
                        <p>Text Content #4</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </template>
    <!-- Offline Week Contents -->
    <template id="offline-content-1">
        <h3>Welcome to Session 1</h3>
        <!-- <ol>
            <li>Think about your goals for the day and act upon them by taking initiative. Commit yourself on the task schedule.<br><br>

            Think about your goals for the next week and write your plan of action to achieve them. Positively follow the schedule in a timely manner.
            </li><br>
            <li>Always set priorities before starting your regime and optimally use all the available resources to reach your desired goals.<br><br>

            Write about the resources you will be using to achieve your desired goals?
            </li><br>
            <li>Always have a good positive attitude towards the tasks you have thought for yourself to be done and check your progress by asking yourself whether you are on right path or not.<br><br>

            Write down the tasks that will be accomplished without any difficulty
            </li><br>
            <li>Live in present and try to reward/praise yourself each time you finish a task as scheduled<br><br>

            Write about the rewards have you thought of giving to yourselves
            </li><br>
            <li>Take time to be quiet and reflective for a few minutes each day.<br><br>

            Introspect yourselves and write how it would have been better?
            </li>
        </ol> -->
        <a class="button" href="#popup">Open Offline Tasks</a>
        <div class="popup" id="popup">
            <div class="popup-inner">
                <div class="popup__photo"><a title="Parutakupiu, Tomtheman5, JBarta [Public domain], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Olympic_pictogram_Athletics_-_colored.svg"><img alt="Olympic pictogram Athletics - colored" src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Olympic_pictogram_Athletics_-_colored.svg"></a></div>
                <div class="popup__text">
                    <h1>Welcome to the offline activity of Session 1</h1>
                    <p>Self-management is an ongoing process and the more you practice the more you will be effective in managing your priorities. so you have to do the following activities for the rest of the week</p>
                    <ul>
                        <li>Engage yourself in positive self-talk.</li>
                        <li>Try to plan out and organize your daily schedule.</li>
                        <li>Be optimistic and strive to continuously improve your situation</li>
                        <li>Be systematic in your approach</li>
                    </ul>
                </div>
                <a class="popup__close" href="#" onclick="location.reload();">X</a>
            </div>
        </div>
    </template>
    <template id="offline-content-2">
        <h3>Welcome to Session 2</h3>
        <!-- <ol>
            <li>Think for about 2 minutes about the varieties of emotions you feel most of the time (Try to  Develop &amp; maintain an emotional journal for yourself and label your emotions as good or bad).<br><br>

            Write down five emotions which occur most of the time.
            </li><br>
            <li>Think again from the list you have mentioned and segregate good and bad emotions.<br><br>

            Write the good ones you have listed previously and take responsibility for them.
            </li><br>
            <li>Always try to focus on good emotions and try to convert neutral/bad into good ones with each passing thought.<br><br>

            Write about few bad emotions and how will you convert them into good one’s
            </li><br>
            <li>Try to analyse other’s emotions by putting yourselves into their shoes (Stop, Calm Down and think before you act)<br><br>

            Write down what you will do if you fall into an argument with someone over an issue
            </li><br>
            <li>Use your Social and emotional skills in a manner so that it might not harm others and benefit you at the same time.<br><br>

            Write down your plan of action over an imaginary issue and introspect it
            </li>
        </ol> -->
        <a class="button" href="#popup">Open Offline Tasks</a>
        <div class="popup" id="popup">
            <div class="popup-inner">
                <div class="popup__photo"><a title="Parutakupiu, Tomtheman5, JBarta [Public domain], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Olympic_pictogram_Athletics_-_colored.svg"><img alt="Olympic pictogram Athletics - colored" src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Olympic_pictogram_Athletics_-_colored.svg"></a></div>
                <div class="popup__text">
                    <h1>Welcome to the offline activity of Session 2</h1>
                    <p>Like self-management, being aware of your and others’ emotion needs practice, but continuous work over this, not only will make you aware of your and others’ feeling but make you able to take decisions effectively and handle the situations efficiently. So keep practising the things all through</p>
                    <ul>
                        <li>Keep track of your emotions by recognizing them and understanding them.</li>
                        <li>Try to understand others’ emotion by putting yourself into others’ shoe.</li>
                        <li>Try to gain better control over your emotional reactions</li>
                    </ul>
                </div>
                <a class="popup__close" href="#" onclick="location.reload();">X</a>
            </div>
        </div>
    </template>
    <template id="offline-content-3">
        <h3>Welcome to Session 3</h3>
        <!-- <ol>
            <li>Plan your day:  Take a piece of paper and write down the things you have to do each day. Make a list of thing to be done.<br><br>

            Write down 5 important things which you have to do.
            </li><br>
            <li>Prioritize: After you make the list of each day's tasks that must be completed, put them in order by importance, by deadline, by preference, or by whatever manner as you may feel so.<br><br>

            Now Arrange the five things as per your preference.
            </li><br>
            <li>Divide the time for doing the things in such a manner so that they can be finished well in time with a scope of emergency (if it arises unfortunately) that can disturb your schedule.<br><br>

            Write down the amount of time to be taken for each task.
            </li><br>
            <li>While doing the tasks/things, try to avoid distractions (for ex. If the television is not allowing you to concentrate on your studies, turn it off).<br><br>

            Write down the distractions you have faced and how did you dealt with them.
            </li><br>
            <li>Check mark the things which you complete (on the same piece of paper where you have written the things to be done) as per your schedule and award yourself whenever you do good.<br><br>

            See whether you have finished all the five things on schedule (If done on schedule treat yourself). 
            </li>
        </ol> -->
        <a class="button" href="#popup">Open Offline Tasks</a>
        <div class="popup" id="popup">
            <div class="popup-inner">
                <div class="popup__photo"><a title="Parutakupiu, Tomtheman5, JBarta [Public domain], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Olympic_pictogram_Athletics_-_colored.svg"><img alt="Olympic pictogram Athletics - colored" src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Olympic_pictogram_Athletics_-_colored.svg"></a></div>
                <div class="popup__text">
                    <h1>Welcome to the offline activity of Session 3</h1>
                    <p>Instruction- you have to do the following activities for the rest of the week</p>
                    <ul>
                        <li>Put up the activity schedule in your room and mark everytime you complete any activity</li>
                        <li>Take feedback from your previous day and plan your next day</li>
                        <li>Plan your activities a day or week ahead including deadlines or other important events</li>
                        <li>Try rewarding yourself when you get things done as you planned, especially the important ones</li>
                    </ul>
                </div>
                <a class="popup__close" href="#" onclick="location.reload();">X</a>
            </div>
        </div>
    </template>
    <template id="offline-content-4">
        <h3>Welcome to Session 4</h3>
        <!-- <ol>
            <li>Whenever you are feeling tensed/stressed/helpless or otherwise, divert your attention and concentrate on your breathing pattern.<br><br>

            Think of any annoying/stressful situation and do deep breathing exercise and write down what happened after you did that.
            </li><br>
            <li>You have to think about your achievements/awards/honours etc. where you had a feeling that you are on top of the world.<br><br>

            Think and write about your achievements and how did it feel?
            </li><br>
            <li>Try to think about the most cherish-able moments of your life where you  have  had the happiest thoughts of your life. As you know happy thoughts leads to happy emotions.<br><br>

            Think and write about the happy thoughts and how did they helped you overcome stress.
            </li><br>
            <li>Focus on problem that is acting as stressor and think of alternative solution to deal with it.<br><br>

            Think about the alternative solutions and write how it helped becoming happy.
            </li>
        </ol> -->
        <a class="button" href="#popup">Open Offline Tasks</a>
        <div class="popup" id="popup">
            <div class="popup-inner">
                <div class="popup__photo"><a title="Parutakupiu, Tomtheman5, JBarta [Public domain], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Olympic_pictogram_Athletics_-_colored.svg"><img alt="Olympic pictogram Athletics - colored" src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Olympic_pictogram_Athletics_-_colored.svg"></a></div>
                <div class="popup__text">
                    <h1>Welcome to the offline activity of Session 4</h1>
                    <ul>
                        <li>Get involved in humour, entertainment and positive social interaction.</li>
                        <li>Play games which you like.</li>
                        <li>Listen good music of your choice.</li>
                        <li>Enjoy your performance and success.</li>
                    </ul>
                </div>
                <a class="popup__close" href="#" onclick="location.reload();">X</a>
            </div>
        </div>
    </template>
    <script src="{% static '/js/cities.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/logged.js' %}" type="text/javascript"></script>
</body>
</html>